.projectscomponent>h1 {
    color: #fff;
}

.imgModel {
    width: 100% !important;
    height: 100% !important;
    border: 0;

}

.box-image-model {
    height: calc(200px + 30px);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-image-model>button {

    border: 1px solid var(--bacColorDetails);
    color: #fff;
    margin: 10px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    transition: 0.3s ease;

    &:hover {
        background-color: var(--bacColorDetails);
    }
}

.box-models {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.boxpdfpreview {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #121212eb;
    z-index: 100000;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closebtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    transition: 0.4s ease;

    &:hover {
        color: #121212 !important;
    }
}

.pdfPreview {
    height: 90%;
    width: 80%;
    border: none !important;
    overflow: hidden !important;
    position: relative !important;
}

.imgModel::-webkit-scrollbar {
    display: none !important;
}

@media(max-width:500px) {
    .projectscomponent>h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 2rem;
    }

    .box-models {
        gap: 3rem;
    }

    .imgModel {
        width: 100% !important;
    }

    .projectscomponent {
        margin-bottom: 3rem;
    }
}