.home-container {
  width: 100%;
  height: auto;
  background-color: var(--bacColor);
  position: relative;
}

.btnwhts {
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #128c7e;
  color: #fff !important;
  bottom: 60px;
  right: 30px;
  border: 0;
  animation: pulse 1s ease infinite;
  cursor: pointer;
  display: grid;
  place-content: center;
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
    box-shadow: 2px 2px 25px 2px #fff;
  }

  100% {
    transform: translateY(0px);
  }
}

.section {
  width: 100%;
  height: 100vh;
  background-image: url('../../public/background.jpg');
  background-position: center;
  background-size: cover;
  z-index: 1;
  display: flex;
}

.box-text {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.box-text>h1 {
  z-index: 10 !important;
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  margin-bottom: 0px;
  width: 45%;

}

.box-text>p {
  color: #fff;
  margin: 0px;
  font-size: 20px;
  width: 45%;
  border: 1px solid var(--bacColorDetails);
  padding: 1rem;
  border-radius: 5px;
}

.box-text>a {
  margin-top: 3rem;
  min-width: 200px;
  height: 50px;
  background-color: #fff;
  border: 0;
  font-size: 20px;
  color: var(--bacColor);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  gap: 10px;

  &:hover {
    background-color: var(--bacColorDetails) !important;
    color: #fff !important;
  }
}

.aboutus {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0px 1rem 0px;
}

.title-aboutus {
  width: 55%;
}

.title-aboutus>h1 {
  color: #fff;
  font-size: 50px;
}

.title-aboutus>p {
  color: #f6f6f6;
  text-align: center;
  font-size: 20px;
}

.box-projects-types {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.card-item-project-type {
  width: 300px;
  height: 360px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-default-style {
  width: 100%;
  display: flex;
  min-height: 500px;
  height: auto;
  justify-content: flex-end;
  margin-top: 7rem;
  padding-bottom: 2rem;
}

.box-text-ilustration {
  width: 70%;
}

/* .box-text-ilustration:last-child {
  align-items: flex-start !important;
} */

.section-default-style>div>img {
  width: 350px;
  border-radius: 0px 10px 10px 10px;
}

.text-with-ilustration {
  width: 100%;
  height: 400px;
  background-color: var(--bacColorDetails);
  padding: 2rem;
}

.text-with-ilustration>h2 {
  color: #fff;
  width: 60%;
  font-size: 45px;
}

.text-with-ilustration>p {
  width: 60%;
  color: #fff;
}

@media(max-width:500px) {
  .section {
    height: 700px;
  }

  .box-text>h1 {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  .box-text {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .box-text>p {
    width: 90%;
    font-size: 15px;
  }

  .title-aboutus {
    width: 100%;
    padding: 5px;
  }

  .title-aboutus>h1 {
    font-size: 25px;
    text-align: center;
    width: 100%;

  }

  .title-aboutus>p {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  .box-projects-types {
    justify-content: center;
  }

  .box-text-ilustration>img {
    display: none;
  }

  .box-text-ilustration {
    width: 100%;
  }

  .text-with-ilustration {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-with-ilustration>h2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

  .text-with-ilustration>p {
    width: 100%;
    text-align: center;
    font-size: large;
  }

  .ilustrations-seo {
    margin-top: 1rem;

  }

  .ilustrations-seo>img {
    width: 50px;
    height: 50px;
  }

  .section-default-style {
    min-height: auto !important;
    margin-top: 2rem;
  }
}